{% extends 'base.html' %}

{% block title %}
    Case Details
{% endblock %}

{% block content %}

    <div class="col-md-8">
        <div class="card card-plain">
            <div class="card-header card-header-primary">
                <h4 class="card-title mt-0"> Case #{{ case.id }} Details</h4>
                {#                <p class="card-category"> Here is a subtitle for this table</p>#}
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-light">
                        {#                        <thead class="">#}
                        {#                            <th>ID</th>#}
                        {#                            <th>Name</th>#}
                        {#                            <th>Country</th>#}
                        {#                            <th>City</th>#}
                        {#                            <th>Salary</th>#}
                        {#                        </thead>#}
                        <tbody>
                        <tr>
                            <td>Case Number</td>
                            <td>{{ case.id }}</td>
                        </tr>

                        <tr>
                            <td>Victim Name</td>
                            <td>{{ case.user.profile.full_name }}</td>
                        </tr>

                        <tr>
                            <td>Victim Id Number</td>
                            <td>{{ case.user.profile.id_number }}</td>
                        </tr>


                        <tr>
                            <td>Reported By</td>
                            <td>{{ case.reported_by }}</td>
                        </tr>


                        <tr>
                            <td>Perpetrator</td>
                            <td>{{ case.perpetrator_name }}</td>
                        </tr>

                        <tr>
                            <td>Reported By</td>
                            <td>{{ case.user.username }}</td>
                        </tr>
                        <tr>
                            <td>Date Reported</td>
                            <td>{{ case.date_created }}</td>
                        </tr>

                        <tr>
                            <td>Date Incident Occurred</td>
                            <td>{{ case.date_of_incident }}</td>
                        </tr>

                        <tr>
                            <td>Perpetrator Image</td>
                            <td>
                                {% if case.perpetrator_image %}
                                    <img src="{{ case.perpetrator_image.url }}" width="100px" height="100px"
                                         alt="{{ case.perpetrator_name }} image"/>
                                {% else %}
                                    No Image Uploaded
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>Police working on case</td>
                            <td>{{ case.police.count }}</td>
                        </tr>

                        <tr>
                            <td>Status</td>
                            <td>{{ case.incidentevent_set.last.get_type_display }}</td>
                        </tr>

                        <tr>
                            <td>Station</td>
                            <td>{{ case.station.name }}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{#    {% if case.station %}#}
{#    {% else %}#}

        <div class="col-md-8">
            <div class="card card-plain bg-white">
                <div class="card-header card-header-primary">
                    <h4 class="card-title mt-0"> Assign Case To Station</h4>
                    {#                <p class="card-category"> Here is a subtitle for this table</p>#}
                </div>
                <div class="card-body">
                    <table class="table table-hover text-black">
                        <tbody>
                        <tr>
                            <td><h3 class="font-weight-bold ">ADD POLICE TO CASE</h3></td>
                            <td>
                                <form method="post" action="{% url 'ipoa-assign' case.pk %}">
                                    {% csrf_token %}
                                    <select class="form-control selectpicker" data-style="btn btn-link" required
                                            id="status"
                                            name="station">
                                        <option value="">--Select Station--</option>
                                        {% for station in stations %}
                                            <option value="{{ station.pk }}">{{ station.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="submit" class="btn btn-primary ml-3" value="Assign Case To Station">
                                </form>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>


        </div>
{#    {% endif %}#}

{% endblock %}
