{% load static %}
<div class="sidebar" data-color="azure" data-background-color="black"
     data-image="{% static 'assets/img/sidebar-2.jpg' %}">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo"><a href="#" class="simple-text logo-normal">
        Violence Tracker
    </a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            {% if user.profile.role == 'Admin' %}

                <li class="nav-item  ">
                    <a class="nav-link" href="{% url 'report' %}">
                        <i class="material-icons">dashboard</i>
                        <p>Report Case</p>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'ipoa-dashboard' %}">
                        <i class="material-icons">content_paste</i>
                        <p>Cases</p>
                    </a>
                </li>

            {% elif user.profile.role == 'User' %}

                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'cases' %}">
                        <i class="material-icons">content_paste</i>
                        <p>Cases</p>
                    </a>
                </li>
            {% elif user.profile.role == 'Police' %}
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'police-dashboard' %}">
                        <i class="material-icons">content_paste</i>
                        <p>Cases</p>
                    </a>
                </li>

            {% elif user.profile.role == 'OCS' %}

                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'create-police' %}">
                        <i class="material-icons">content_paste</i>
                        <p>Police</p>
                    </a>
                </li>


                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'admin-dashboard' %}">
                        <i class="material-icons">content_paste</i>
                        <p>Cases</p>
                    </a>
                </li>


            {% endif %}


            <li class="nav-item ">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="material-icons">lock</i>
                    <p>Logout</p>
                </a>
            </li>

        </ul>
    </div>
</div>